<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="tappx-phonegap" version="1.1.6">
  <description></description>
  <name>Tappx ads</name>
  <author email="info@appfeel.com" href="https://github.com/appfeel/tappx-phonegap">AppFeel</author>
  <license>MIT</license>
  <keywords>ad,ads,admob,google,advertising,advertisment,publicity,earn,win,play,services,tappx,iad,flurry,monetization,money,appfeel</keywords>
  <repo>https://github.com/appfeel/tappx-phonegap.git</repo>
  <issue>https://github.com/appfeel/tappx-phonegap/issues</issue>

  <engines>
    <engine name="cordova" version=">=4.0" />
  </engines>

  <dependency id="cordova-admob" />
</plugin>
